    <div class="home">
        <mat-grid-list cols="4" rows="4" rowHeight="24vh">
            <mat-grid-tile style="background-color: lightblue;"
            colspan="1"
            rowspan="4"
            >
            <div>
                <h1>Welcome, {{name}}</h1>
            </div>
            </mat-grid-tile>

            <mat-grid-tile style="background-color: lightgreen;"
            colspan="3"
            rowspan="1"
            >
            Two
            </mat-grid-tile>
            <mat-grid-tile style="background-color: lightgray;"
            colspan="3"
            rowspan="2"
            >
            Three
            </mat-grid-tile>
            <mat-grid-tile style="background-color: lightcoral;"
            colspan="3"
            rowspan="1"
            >
            Four
            </mat-grid-tile>
        </mat-grid-list>
    </div>
